*{
    background-color: rgb(227, 215, 238);
    margin: 0;
    padding: 0;
}
.name{
    color: black;
    font-size:x-large;
    align-content: center;
    justify-content: center;
    
}
.info{
    color: black;
    font-size:x-large;
    display: flex;  
}
h2{
    color: white;
}
